@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Mulish;
    background-color: #e1d7c7;
}

select, input, textarea {
    border: 1px solid #c2c2c2;
    outline-color: #efc499;
    border-radius: 4px;
}

.active {
    background-color: #fbf0e4;
    border-color: 
    #efc499;
}